# API keys and secrets
.env
firebase.json

# Dependency directory
node_modules

# Editors
.idea
.vscode
.history

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# Other
debug.log
yarn.lock
dump
dist.zip